@mixin font($size, $height: $size, $weight: bold, $color: $color-light) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

@mixin hov() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin flex($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    flex-basis: calc($width / $content-width * 100%);
  }
}

@mixin fbasis($width, $container-width: $content-width) {
  flex-basis: calc(($width / $container-width) * 100%);
}

@mixin flex-col($pos: flex-start) {
  display: flex;
  flex-direction: column;
  align-items: $pos;
}
