%font-add {
  font-family: 'Merriweather', Times, serif;
}

%trans {
  transition: all 0.3s ease-out;
}

%filter {
  filter: invert(15%) sepia(17%) saturate(592%) hue-rotate(7deg) brightness(86%) contrast(86%);
}
