%font-add {
  font-family: 'Merriweather', Times, serif;
}

%trans {
  transition: all 0.3s ease-out;
}

%shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

%shade-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
