// Base
@import 'base/normalize';
@import 'base/abstracts';
@import 'base/basic';
@import 'base/bg-images';

// Components
@import 'components/icons';
@import 'components/logo';
@import 'components/nav';
@import 'components/switch';
@import 'components/burger';
@import 'components/buttons';
@import 'components/section-title';
@import 'components/form';
@import 'components/soclist';
@import 'components/overlay';
@import 'components/modal';

// Layouts
@import 'layouts/1_header';
@import 'layouts/2_hero';
@import 'layouts/3_skills';
@import 'layouts/4_portfolio';
@import 'layouts/5_video';
@import 'layouts/6_price';
@import 'layouts/7_contacts';
@import 'layouts/8_footer';
