@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

article,
section,
main,
header,
footer,
nav {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

.price-card__price, h1,
h2,
h3 {
  font-family: "Merriweather", Times, serif;
}

.form input,
.form textarea, .burger__line, .icon, a,
button {
  transition: all 0.25s ease-in-out;
}

.button-wrapper {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.light-theme .header.scrolled .switch_theme .icon:hover, .light-theme .header.scrolled .switch_theme .icon:focus, .light-theme .header.scrolled .switch_theme .icon:active, .light-theme .icon:hover, .light-theme .icon:focus, .light-theme .icon:active, .icon:hover, .icon:focus, .icon:active {
  filter: invert(19%) sepia(24%) saturate(424%) hue-rotate(7deg) brightness(84%) contrast(86%);
}

html {
  font-size: 10px;
}
@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
}

body {
  font-family: "Inter", Verdana, sans-serif;
  font-size: 1.8rem;
  line-height: 3.6rem;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  background-color: #000000;
}

.light-theme {
  color: #1c1c1c;
  background-color: #ffffff;
}

h1 {
  font-size: 6rem;
  line-height: 12rem;
  font-weight: bold;
  font-style: normal;
  color: inherit;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
    line-height: 6.4rem;
    font-weight: bold;
    font-style: normal;
    color: inherit;
  }
}

h2 {
  font-size: 4rem;
  line-height: 8rem;
  font-weight: bold;
  font-style: normal;
  color: inherit;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2.8rem;
  line-height: 5.6rem;
  font-weight: bold;
  font-style: normal;
  color: inherit;
  text-align: center;
}

h4 {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: bold;
  font-style: normal;
  color: inherit;
  text-align: center;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 20px 0;
}
@media (max-width: 768px) {
  .wrapper {
    padding-top: 80px;
  }
}
@media (max-width: 600px) {
  .wrapper {
    padding-top: 60px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    padding: 60px 15px 0;
  }
}

@font-face {
  font-family: "icons";
  src: url("../assets/fonts/icons.woff?afr8ys") format("woff"), url("../assets/fonts/icons.ttf?afr8ys") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-logo:before {
  content: "\e900";
  color: #fff;
}

._icon-sun:before {
  content: "\e901";
  color: #fff;
}

._icon-moon:before {
  content: "\e902";
}

._icon-camera .path1:before {
  content: "\e903";
  color: #ccba8d;
}

._icon-camera .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: #ccba8d;
}

._icon-camera .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: #ccba8d;
}

._icon-camera .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: #bdae82;
}

._icon-camera .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: #ccba8d;
}

._icon-video:before {
  content: "\e908";
  color: #bdae82;
}

._icon-image .path1:before {
  content: "\e909";
  color: #bdae82;
}

._icon-image .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: #ccba8d;
}

._icon-mic .path1:before {
  content: "\e90b";
  color: #ccba8d;
}

._icon-mic .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: #bdae82;
}

._icon-play-btn:before {
  content: "\e90d";
  color: #fff;
}

._icon-play:before {
  content: "\e90e";
  color: #b3b3b3;
}

._icon-pause:before {
  content: "\e90f";
  color: #b3b3b3;
}

._icon-volume:before {
  content: "\e910";
  color: #b3b3b3;
}

._icon-mute:before {
  content: "\e911";
  color: #b3b3b3;
}

._icon-fb:before {
  content: "\e912";
  color: #fff;
}

._icon-inst:before {
  content: "\e913";
  color: #fff;
}

._icon-pinterest:before {
  content: "\e914";
  color: #fff;
}

._icon-tw:before {
  content: "\e915";
  color: #fff;
}

.webp.dark-theme .hero {
  background-image: url("../assets/img/bgs/dark/bg-hero.webp");
}
.webp.dark-theme .contacts {
  background-image: url("../assets/img/bgs/dark/bg-contacts.webp");
}
.webp.light-theme .hero {
  background-image: url("../assets/img/bgs/light/bg-hero.webp");
}
.webp.light-theme .contacts {
  background-image: url("../assets/img/bgs/light/bg-contacts.webp");
}

.no-webp.dark-theme .hero {
  background-image: url("../assets/img/bgs/dark/bg-hero.jpg");
}
.no-webp.dark-theme .contacts {
  background-image: url("../assets/img/bgs/dark/bg-contacts.jpg");
}
.no-webp.light-theme .hero {
  background-image: url("../assets/img/bgs/light/bg-hero.jpg");
}
.no-webp.light-theme .contacts {
  background-image: url("../assets/img/bgs/light/bg-contacts.jpg");
}

@media (max-width: 768px) {
  .webp.dark-theme .hero {
    background-image: url("../assets/img/bgs/dark/bg-hero-tab.webp");
  }
  .webp.dark-theme .contacts {
    background-image: url("../assets/img/bgs/dark/bg-contacts-tab.webp");
  }
  .webp.light-theme .hero {
    background-image: url("../assets/img/bgs/light/bg-hero-tab.webp");
  }
  .webp.light-theme .contacts {
    background-image: url("../assets/img/bgs/light/bg-contacts-tab.webp");
  }

  .no-webp.dark-theme .hero {
    background-image: url("../assets/img/bgs/dark/bg-hero-tab.jpg");
  }
  .no-webp.dark-theme .contacts {
    background-image: url("../assets/img/bgs/dark/bg-contacts-tab.jpg");
  }
  .no-webp.light-theme .hero {
    background-image: url("../assets/img/bgs/light/bg-hero-tab.jpg");
  }
  .no-webp.light-theme .contacts {
    background-image: url("../assets/img/bgs/light/bg-contacts-tab.jpg");
  }
}
.icon {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}
.light-theme .icon {
  filter: invert(100%);
}
.light-theme .icon_video {
  filter: none;
}
.light-theme .icon_soc {
  filter: invert(70%);
}
.logo {
  width: 50px;
  height: 40px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .logo {
    width: 48px;
  }
}
@media (max-width: 600px) {
  .logo {
    width: 44px;
  }
}
@media (max-width: 375px) {
  .logo {
    width: 40px;
  }
}

.nav {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 620px;
    height: 100vh;
    padding: 134px 60px 60px 112px;
    background: #000000;
    transition: 0.5s;
    overflow: auto;
  }
  .nav.active {
    right: 0;
  }
}
@media (max-width: 767.98px) {
  .nav {
    width: 100%;
    padding: 90px 60px 60px 90px;
  }
}
@media (max-width: 375px) {
  .nav {
    padding: 60px;
  }
}

.nav__link {
  padding: 12px 15px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
  font-style: normal;
  color: inherit;
}
.nav__link:hover, .nav__link:focus, .nav__link:active {
  color: #bdae82;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 3.5rem;
    line-height: 4.3rem;
    font-weight: normal;
    font-style: normal;
    color: inherit;
  }
}
@media (max-width: 480px) {
  .nav__link {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: normal;
    font-style: normal;
    color: inherit;
  }
}

@media (max-width: 1024px) {
  .light-theme .nav {
    background: #ffffff;
  }
}
.light-theme .nav__link:hover, .light-theme .nav__link:focus, .light-theme .nav__link:active {
  color: #ffffff;
}
.light-theme .nav.active .nav__link:hover, .light-theme .nav.active .nav__link:focus, .light-theme .nav.active .nav__link:active {
  color: #bdae82;
}

.light-theme .header.scrolled .nav__link:hover, .light-theme .header.scrolled .nav__link:focus, .light-theme .header.scrolled .nav__link:active {
  color: #bdae82;
}

.switch-langs {
  display: flex;
  gap: 4px;
  font-size: 20px;
  line-height: 44px;
  font-weight: bold;
  font-style: normal;
  color: inherit;
}
@media (max-width: 600px) {
  .switch-langs {
    line-height: 40px;
  }
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 2px;
  transition-property: color;
}
@media (max-width: 375px) {
  .switch {
    width: 40px;
    height: 40px;
  }
}
.switch:hover, .switch:focus, .switch:active {
  color: #bdae82;
}
.switch.active {
  color: #bdae82;
}
.switch_lang {
  font-weight: bold;
}

.light-theme .switch:hover, .light-theme .switch:focus, .light-theme .switch:active {
  color: #ffffff;
}
.light-theme .switch.active {
  color: #ffffff;
}

.light-theme .switch_theme {
  padding: 4px;
}
.light-theme .switch_theme .icon:hover, .light-theme .switch_theme .icon:focus, .light-theme .switch_theme .icon:active {
  filter: none;
}

.light-theme .header.scrolled .switch:hover, .light-theme .header.scrolled .switch:focus, .light-theme .header.scrolled .switch:active {
  color: #bdae82;
}
.light-theme .header.scrolled .switch.active {
  color: #bdae82;
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 46px;
  height: 28px;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 600px) {
  .burger {
    transform: scale(0.9);
  }
}
@media (max-width: 375px) {
  .burger {
    transform: scale(0.8);
  }
}

.burger__line {
  width: 100%;
  height: 3px;
  background: #ffffff;
}

.burger.active {
  transform: scale(0.8);
}
.burger.active .burger__line {
  width: 54px;
  height: 3px;
}
.burger.active .burger__line:nth-child(1) {
  transform: rotate(-45deg) translate(-13px, 6px);
}
.burger.active .burger__line:nth-child(2) {
  opacity: 0;
}
.burger.active .burger__line:nth-child(3) {
  transform: rotate(45deg) translate(-12px, -5px);
}
@media (max-width: 375px) {
  .burger.active {
    transform: scale(0.7);
  }
}

.light-theme .burger__line {
  background: #1c1c1c;
}

.button {
  width: 220px;
  max-width: 100%;
  height: 55px;
  padding: 5px 15px;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
  color: inherit;
  color: #bdae82;
  background: transparent;
  border: 2px solid #bdae82;
  cursor: pointer;
}
.button_colored {
  color: #000000;
  background: #bdae82;
  border-color: #bdae82;
}
@media (any-hover: hover) {
  .button:hover, .button:focus {
    color: #ffffff;
  }
}
.button.animated {
  animation: effect 0.4s linear;
}
@keyframes effect {
  50% {
    color: #bdae82;
    border-color: #ffffff;
    box-shadow: inset 0 0 0 30px #ffffff;
  }
}

.light-theme .button {
  color: #1c1c1c;
}
@media (any-hover: hover) {
  .light-theme .button:hover, .light-theme .button:focus {
    color: #bdae82;
  }
}
@media (any-hover: hover) {
  .light-theme .button_colored:hover, .light-theme .button_colored:focus {
    color: #ffffff;
  }
}
.light-theme .button_special {
  border-color: #ffffff;
  background: #ffffff;
}
@media (any-hover: hover) {
  .light-theme .button_special:hover, .light-theme .button_special:focus {
    color: #bdae82;
  }
}
.light-theme .button_special.animated {
  animation-name: speceffect;
}
@keyframes speceffect {
  50% {
    color: #ffffff;
    border-color: #bdae82;
    box-shadow: inset 0 0 0 30px #bdae82;
  }
}

.button-wrapper {
  display: inline-block;
}

.section-title {
  width: 50%;
  max-width: 100%;
  height: 80px;
  margin: 0 auto 60px;
  text-align: center;
  background: linear-gradient(to bottom, transparent 39px, #bdae82 39px, #bdae82 41px, transparent 41px);
}
.section-title h2 {
  line-height: 80px;
  display: inline;
  padding: 0 20px;
  color: #bdae82;
  background: #000000;
}
@media (max-width: 768px) {
  .section-title {
    width: 364px;
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .section-title {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .section-title {
    margin-bottom: 25px;
  }
}

.light-theme .section-title {
  background: linear-gradient(to bottom, transparent 39px, #1c1c1c 39px, #1c1c1c 41px, transparent 41px);
}
.light-theme .section-title h2 {
  color: #1c1c1c;
  background: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form input,
.form textarea {
  width: 100%;
  padding: 5px 20px;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
  color: #bdae82;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  outline: none;
}
.form input:hover, .form input:focus, .form input:active,
.form textarea:hover,
.form textarea:focus,
.form textarea:active {
  border-color: #ffffff;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #bdae82;
}
.form input:focus::placeholder,
.form textarea:focus::placeholder {
  opacity: 0;
}
.form input {
  height: 50px;
  margin-bottom: 20px;
}
.form textarea {
  height: 100px;
  margin-bottom: 30px;
  resize: none;
}

.light-theme .form input,
.light-theme .form textarea {
  color: #1c1c1c;
  background: rgba(255, 255, 255, 0.5);
}
.light-theme .form input::placeholder,
.light-theme .form textarea::placeholder {
  color: #1c1c1c;
}

.soclist {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
}

.soclist__item,
.soclist__link {
  width: 32px;
  height: 32px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
}
.overlay.active {
  height: 100vh;
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal.active {
  display: flex;
}
.modal .modal__dialog {
  position: relative;
  flex-basis: 648px;
  max-height: 90vh;
  padding: 50px;
  background-color: #bdae82;
  overflow-y: auto;
}
@media (max-width: 767.98px) {
  .modal .modal__dialog {
    padding: 40px 30px;
    flex-basis: 450px;
  }
}
.light-theme .modal .modal__dialog {
  background-color: #ffffff;
}
.modal .modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 40px;
  opacity: 0.6;
  cursor: pointer;
}
.modal .modal__text {
  font-size: 2.8rem;
  line-height: 2;
  text-align: center;
}
@media (max-width: 767.98px) {
  .modal .modal__text {
    font-size: 22px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: 0.5s;
  padding: 23px 0;
}
.header.scrolled {
  padding: 3px 0;
  background: #000000;
  box-shadow: 0px 1px 15px #3a3528;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding: 0 60px;
  }
}
@media (max-width: 600px) {
  .header__wrapper {
    padding: 0 15px;
  }
}
@media (max-width: 375px) {
  .header__wrapper {
    gap: 20px;
  }
}

.header__logo {
  margin-right: auto;
}

@media (max-width: 1024px) {
  .header__nav {
    order: 1;
  }
}

.header__burger {
  position: relative;
  display: none;
  z-index: 200;
}
@media (max-width: 1024px) {
  .header__burger {
    display: block;
  }
}

.light-theme .header.scrolled {
  background: #ffffff;
  box-shadow: 0px 1px 15px #d1d1d1;
}

.hero {
  width: 100%;
  min-height: 910px;
  background-repeat: no-repeat;
  background-position: center top;
}
@media (max-width: 1920px) and (max-height: 1080px) {
  .hero {
    height: 100vh;
  }
}
@media (max-width: 1920px) {
  .hero {
    background-size: cover;
    background-position: center center;
  }
}
@media (max-width: 1600px) {
  .hero {
    height: auto;
  }
}
@media (max-width: 1024px) {
  .hero {
    min-height: 750px;
    background-position: 30% top;
  }
}
@media (max-width: 768px) {
  .hero {
    min-height: 590px;
    background-position: center top;
  }
}
@media (max-width: 480px) {
  .hero {
    background-position: 65% top;
  }
}

.hero__wrapper {
  padding: 250px 80px 80px;
}
@media (max-width: 1024px) {
  .hero__wrapper {
    padding: 168px 60px 60px;
  }
}
@media (max-width: 480px) {
  .hero__wrapper {
    padding: 150px 15px 60px;
  }
}

.hero__content {
  max-width: 500px;
}

.hero__title {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .hero__title {
    margin-bottom: 20px;
  }
}

.hero__text {
  max-width: 470px;
  margin-bottom: 25px;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
  color: inherit;
}
@media (max-width: 1024px) {
  .hero__text {
    max-width: 390px;
  }
}
@media (max-width: 768px) {
  .hero__text {
    margin-bottom: 60px;
    line-height: 2.4rem;
  }
}
@media (max-width: 600px) {
  .hero__text {
    max-width: 70%;
  }
}
@media (max-width: 375px) {
  .hero__text {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .skills__wrapper {
    padding-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .skills__wrapper {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .skills__section-title {
    margin-bottom: 45px;
  }
}
@media (max-width: 600px) {
  .skills__section-title {
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .skills__section-title {
    margin-bottom: 25px;
  }
}

.skills-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-cards > * {
  flex-basis: 22.8571428571%;
}
@media (max-width: 1024px) {
  .skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 44px;
    justify-content: center;
    row-gap: 36px;
  }
  .skills-cards > * {
    flex-basis: calc((100% - 44px) / 2);
  }
  .skills-cards .skill-card {
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .skills-cards .skill-card {
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .skills-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-cards .skill-card {
    max-width: 100%;
  }
}

.skill-card {
  width: 320px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 10px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: top center;
}
.skill-card:nth-child(1) {
  background-image: url("../assets/svg/sprite-skills.svg#camera");
}
.skill-card:nth-child(2) {
  background-image: url("../assets/svg/sprite-skills.svg#video");
}
.skill-card:nth-child(3) {
  background-image: url("../assets/svg/sprite-skills.svg#image");
}
.skill-card:nth-child(4) {
  background-image: url("../assets/svg/sprite-skills.svg#mic");
}
@media (max-width: 768px) {
  .skill-card {
    width: 300px;
    padding: 80px 10px 40px 10px;
  }
}
@media (max-width: 600px) {
  .skill-card {
    padding: 80px 15px 20px 15px;
  }
}

.skill-card__title {
  margin-bottom: 20px;
}

.skill-card__text {
  text-align: center;
}
@media (max-width: 768px) {
  .skill-card__text {
    line-height: 2.2rem;
  }
}

.portfolio__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 0 auto 60px;
}
@media (max-width: 1024px) {
  .portfolio__buttons {
    max-width: 445px;
  }
}
@media (max-width: 600px) {
  .portfolio__buttons {
    margin-bottom: 40px;
  }
}

.portfolio__pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
}
@media (max-width: 1024px) {
  .portfolio__pictures {
    justify-content: center;
    column-gap: 25px;
  }
}

.portfolio__pic {
  flex-basis: 32.1428571429%;
}
@media (max-width: 1024px) {
  .portfolio__pic {
    flex-basis: calc(50% - 12.5px);
  }
}
@media (max-width: 768px) {
  .portfolio__pic {
    flex-basis: 100%;
  }
}
.portfolio__pic > * {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .portfolio__pic > * {
    width: auto;
  }
}

@media (max-width: 1024px) {
  .video__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .video__section-title {
    max-width: calc(100% - 30px);
  }
}

.video__videoplayer {
  position: relative;
  overflow: hidden;
}

.videoplayer__poster {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 600px) {
  .videoplayer__poster {
    top: -20%;
    width: 120%;
    height: 120%;
  }
}

.videoplayer {
  display: block;
  width: 100%;
  height: 46.07%;
  max-height: 645px;
  object-fit: cover;
  border: 1px solid #bdae82;
  border-bottom: none;
}
@media (max-width: 1024px) {
  .videoplayer {
    border-left: none;
    border-right: none;
  }
}

.videoplayer__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 130px;
  height: 130px;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .videoplayer__btn {
    width: 65px;
    height: 65px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background: #000000;
  border: 1px solid #bdae82;
  border-top: none;
}
@media (max-width: 1024px) {
  .controls {
    border-left: none;
    border-right: none;
  }
}
@media (max-width: 768px) {
  .controls {
    position: relative;
    padding: 6px 20px 0;
  }
}
@media (max-width: 600px) {
  .controls {
    height: 50px;
    gap: 20px;
  }
}

.controls__btn {
  width: 40px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
@media (max-width: 768px) {
  .controls__btn {
    width: 32px;
    height: 32px;
  }
}
.controls__btn:hover, .controls__btn:focus, .controls__btn:active {
  filter: invert(0%) sepia(24%) saturate(424%) hue-rotate(7deg) brightness(90%) contrast(86%);
}

.play {
  background-image: url("../assets/svg/sprite-video.svg#play");
}
.play.active {
  background-image: url("../assets/svg/sprite-video.svg#pause");
}

.volume {
  background-image: url("../assets/svg/sprite-video.svg#mute");
}
.volume.active {
  background-image: url("../assets/svg/sprite-video.svg#volume");
}

.controls__range {
  height: 8px;
  outline-offset: 8px;
  -webkit-appearance: none;
  transition: background 450ms ease-in;
}
.controls__range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-appearance: none;
  cursor: ew-resize;
}
.controls__range.progress {
  flex-grow: 1;
  background: linear-gradient(to right, #bdae82 0%, #bdae82 0%, #c8c8c8 0%, #c8c8c8 100%);
}
@media (max-width: 768px) {
  .controls__range.progress {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 7px;
  }
}
.controls__range.volume {
  width: 20%;
  background: linear-gradient(to right, #bdae82 0%, #bdae82 40%, #c8c8c8 40%, #c8c8c8 100%);
}
@media (max-width: 768px) {
  .controls__range.volume {
    height: 6px;
    flex-grow: 1;
  }
}

.price__wrapper {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .price__wrapper {
    padding-bottom: 80px;
  }
}

.price-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
.price-cards > * {
  flex-basis: calc((100% - 50px) / 3);
}
@media (max-width: 1024px) {
  .price-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    justify-content: center;
  }
  .price-cards > * {
    flex-basis: calc((100% - 50px) / 2);
  }
}
@media (max-width: 768px) {
  .price-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price-cards .price-card {
    width: 420px;
  }
}
@media (max-width: 600px) {
  .price-cards {
    gap: 30px;
  }
}

.price-card {
  width: 450px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
  border: 3px solid #bdae82;
}

.price-card__title {
  margin-bottom: 20px;
}

.price-card__price {
  margin-bottom: 20px;
  font-size: 2.4rem;
  line-height: 4.8rem;
  font-weight: bold;
  font-style: normal;
  color: #bdae82;
}

.price-card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  text-align: center;
}

.price-card__btn {
  margin-top: auto;
}

.contacts {
  width: 100%;
  min-height: 700px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (max-width: 1920px) {
  .contacts {
    min-height: 800px;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .contacts {
    min-height: 700px;
  }
}
@media (max-width: 768px) {
  .contacts {
    min-height: 600px;
    background-position: center center;
  }
}
@media (max-width: 600px) {
  .contacts {
    background-position: 20% center;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-end;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .contacts__wrapper {
    align-items: center;
  }
}

.contacts__title,
.contacts__form {
  width: 450px;
  max-width: 100%;
}

.contacts__title {
  margin-bottom: 40px;
  text-align: left;
}
@media (max-width: 768px) {
  .contacts__title {
    line-height: 6.4rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contacts__form {
    align-items: center;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  padding: 28px 20px;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: normal;
  font-style: normal;
  color: inherit;
}
@media (max-width: 768px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.4rem;
  }
}

.footer__data span {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .footer__data span {
    margin-right: 18px;
  }
}
@media (max-width: 600px) {
  .footer__data span {
    margin-right: 7px;
  }
}
@media (max-width: 768px) {
  .footer__data {
    margin-bottom: 16px;
  }
}
.footer__data a:hover, .footer__data a:focus, .footer__data a:active {
  color: #bdae82;
}

.footer__link:hover, .footer__link:focus, .footer__link:active {
  color: #bdae82;
}
@media (max-width: 768px) {
  .footer__link {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
