.button {
  width: 220px;
  max-width: 100%;
  height: 55px;
  padding: 5px 15px;
  @include font(2rem, 4rem, normal);
  color: $color-main;
  background: transparent;
  border: 2px solid #bdae82;
  cursor: pointer;

  &_colored {
    color: $color-dark;
    background: $color-main;
  }

  @include hov {
    color: $color-light;
  }
}

.light-theme .button {
  color: $color-lt-dark;
  @include hov {
    color: $color-main;
  }

  &_colored {
    @include hov {
      color: $color-light;
      background: $color-main;
    }
  }

  &_light {
    background: $color-light;
    border-color: $color-light;
    @extend %shade-btn;
    @include hov {
      background: $color-light;
      color: $color-main;
    }
  }
}
