.button {
  width: 220px;
  max-width: 100%;
  height: 55px;
  padding: 5px 15px;
  @include font(2rem, 4rem, normal);
  color: $color-main;
  background: transparent;
  border: 2px solid $color-main;
  cursor: pointer;

  &_colored {
    color: $color-dark;
    background: $color-main;
    border-color: $color-main;
  }

  @media (any-hover: hover) {
    &:hover,
    &:focus {
      color: $color-light;
    }
  }

  &.active {
    animation: effect 0.4s linear;
  }

  @keyframes effect {
    50% {
      color: $color-main;
      border-color: $color-light;
      box-shadow: inset 0 0 0 30px $color-light;
    }
  }
}

// -----------------------

.light-theme .button {
  color: $color-lt-dark;

  @media (any-hover: hover) {
    &:hover,
    &:focus {
      color: $color-main;
    }
  }

  &_colored {
    @media (any-hover: hover) {
      &:hover,
      &:focus {
        color: $color-light;
      }
    }
  }

  &_special {
    border-color: $color-light;
    background: $color-light;
    @media (any-hover: hover) {
      &:hover,
      &:focus {
        color: $color-main;
      }
    }

    &.active {
      animation-name: speceffect;
    }

    @keyframes speceffect {
      50% {
        color: $color-light;
        border-color: $color-main;
        box-shadow: inset 0 0 0 30px $color-main;
      }
    }
  }
}

.button-wrapper {
  display: inline-block;
  @extend %shadow;
}
