.form {
  @include flex-col;

  input,
  textarea {
    width: 100%;
    padding: 5px 20px;
    @include font(2rem, 4rem, normal, $color-main);
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid $color-main;
    outline: none;
    @extend %trans;

    &::placeholder {
      color: $color-main;
    }

    @include hov {
      border-color: $color-light;
    }
  }

  input {
    height: 50px;
    margin-bottom: 20px;

    &:-webkit-autofill {
      border-color: $color-main;
      -webkit-text-fill-color: $color-main;
      transition: background-color 9000s ease-in-out 0s;

      @include hov {
        border-color: $color-light;
      }
    }
  }

  textarea {
    height: 100px;
    margin-bottom: 30px;
    resize: none;
  }
}

// -------------------

.light-theme .form {
  input,
  textarea {
    color: $color-lt-dark;
    background: rgba(255, 255, 255, 0.5);

    &::placeholder {
      color: $color-lt-dark;
    }
  }
}
