.icon {
  width: 100%;
  max-height: 100%;
  fill: $color-light;
  @extend %trans;
  @include hov {
    fill: $color-main;
  }
}

.light-theme .icon {
  fill: $color-lt-dark;
  @include hov {
    fill: $color-main;
  }
}

.light-theme .videoplayer__btn .icon {
  fill: $color-light;
  @include hov {
    fill: $color-main;
  }
}
