.icon {
  max-width: none;
  width: 100px;
  height: 100px;
  font-size: 1.6rem;
  @extend %trans;

  @include hov {
    @extend %filter;
  }
}

.light-theme {
  .icon {
    filter: invert(100%);

    &_video {
      filter: none;
    }

    &_soc {
      filter: invert(70%);
    }

    @include hov {
      @extend %filter;
    }
  }
}
