.logo {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;

  @include media-lap {
    transform: scale(0.96);
  }

  @include media-mob {
    transform: scale(0.88);
  }

  @include media-sm {
    transform: scale(0.8);
  }
}
