.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    display: flex;
  }

  .modal__dialog {
    position: relative;
    flex-basis: 648px;
    max-height: 90vh;
    padding: 50px;
    background-color: $color-main;
    overflow-y: auto;

    @include media(767.98px) {
      padding: 40px 30px;
      flex-basis: 450px;
    }

    .light-theme & {
      background-color: $color-light;
    }
  }

  .modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 40px;
    opacity: 0.6;
    cursor: pointer;
  }

  .modal__text {
    font-size: 2.8rem;
    line-height: 2;
    text-align: center;

    @include media(767.98px) {
      font-size: 22px;
    }
  }
}
