.nav {
  display: flex;
  align-items: center;

  @include media-lap {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    @include flex-col;
    gap: 16px;
    width: 620px;
    height: 100vh;
    padding: 134px 60px 60px 112px;
    background: $color-dark;
    transition: 0.5s;
    overflow: auto;

    &.active {
      right: 0;
    }
  }

  @include media(767.98px) {
    width: 100vw;
    padding: 90px 60px 60px 90px;
  }
  @include media-sm {
    padding: 60px;
  }
}

.nav__link {
  padding: 15px;
  @include font(2rem, 2rem, normal);

  @include hov {
    color: $color-main;
  }

  @include media-lap {
    @include font(3.5rem, 4.3rem, normal);
  }
  @include media-mm {
    @include font(3rem, 4rem, normal);
  }
}

// ------------------------

.light-theme {
  .nav {
    @include media-lap {
      background: $color-light;
    }
  }

  .nav__link {
    @include hov {
      color: $color-light;
    }
  }

  .nav.active .nav__link {
    @include hov {
      color: $color-main;
    }
  }
}

.light-theme .header.scrolled {
  .nav__link {
    @include hov {
      color: $color-main;
    }
  }
}
