.soclist {
  display: flex;
  gap: 20px;
  height: 50px;
}

.soclist__link {
  width: 32px;
  height: 100%;

  &_inst {
    background: url('../assets/svg/soc/inst.svg') no-repeat center center;
  }
  &_fb {
    background: url('../assets/svg/soc/fb.svg') no-repeat center center;
  }
  &_twit {
    background: url('../assets/svg/soc/twit.svg') no-repeat center center;
  }
  &_pint {
    background: url('../assets/svg/soc/pint.svg') no-repeat center center;
  }

  @include hov {
    @extend %filter;
  }
}
