.soclist {
  display: flex;
  gap: 20px;
  height: 50px;
}

.soclist__link {
  width: 32px;
  height: 100%;

  &_inst {
    background: url('../../assets/svg/footer/inst.svg') no-repeat center center;
  }
  &_fb {
    background: url('../../assets/svg/footer/fb.svg') no-repeat center center;
  }
  &_twit {
    background: url('../../assets/svg/footer/twitter.svg') no-repeat center center;
  }
  &_pint {
    background: url('../../assets/svg/footer/pinterest.svg') no-repeat center center;
  }

  @include hov {
    @extend %filter;
  }
}
