.switch-langs {
  display: flex;
  gap: 4px;
  @include font(20px, 45px);
  text-transform: uppercase;

  @include media-mob {
    line-height: 40px;
  }
}

.switch {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  @extend %trans;

  @include hov {
    color: $color-main;
    background: rgba(153, 153, 153, 0.2);
    @extend %shadow;
  }

  &.active {
    color: $color-main;
  }

  @include media-sm {
    width: 40px;
    height: 40px;
  }
}

// -------------------------------

.light-theme .switch {
  &.active {
    color: $color-light;
  }
}

.light-theme .switch-theme {
  padding: 4px;
}

.light-theme .header.scrolled {
  .switch {
    @include hov {
      color: $color-main;
      background: $color-light;
      box-shadow: none;
    }

    &.active {
      color: $color-main;
    }
  }
}
