.switch-lng {
  @include font(2rem, 5rem);

  @include media-mob {
    line-height: 40px;
  }
}

.switch-lng__elem {
  cursor: pointer;
  @extend %trans;
  @include hov {
    color: $color-main;
  }

  &:first-child {
    padding-right: 4px;
  }
  &:last-child {
    padding-left: 3px;
  }

  &.active {
    color: $color-main;
  }
}
