.switch-langs {
  display: flex;
  gap: 4px;
  @include font(20px, 44px);

  @include media-mob {
    line-height: 40px;
  }
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 2px;
  transition-property: color;

  @include media-sm {
    width: 40px;
    height: 40px;
  }

  @include hov {
    color: $color-main;
  }

  &.active {
    color: $color-main;
  }

  &_lang {
    font-weight: bold;
  }
}

// -------------------------------

.light-theme .switch {
  @include hov {
    color: $color-light;
  }

  &.active {
    color: $color-light;
  }
}

.light-theme .switch_theme {
  padding: 4px;

  .icon {
    @include hov {
      filter: none;
    }
  }
}

.light-theme .header.scrolled {
  .switch {
    @include hov {
      color: $color-main;
    }

    &.active {
      color: $color-main;
    }
  }

  .switch_theme .icon {
    @include hov {
      @extend %filter;
    }
  }
}
