html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', Verdana, sans-serif;
  @include font(1.8rem, 3.6rem, normal, $color-light);
  font-style: normal;
  background: $color-dark;
}

h1,
h2,
h3 {
  @extend %font-add;
}

h1 {
  margin-bottom: 10px;
  @include font(6rem, 12rem);
}

h2 {
  @include font(4rem, 8rem, bold, $color-main);
}

h3 {
  margin-bottom: 20px;
  @include font(2.8rem, 5.6rem);
  text-align: center;
}

h4 {
  @include font(2rem, 4rem);
  text-align: center;
}

// ---------------------------------

.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 100px 20px 0;
}

a,
button {
  outline: none;
  @extend %trans;
}

a {
  @include hov {
    color: $color-main;
  }
}

button {
  @include hov {
    color: $color-light;
  }
}

.section-title {
  width: 50%;
  margin: 0 auto 60px;
  text-align: center;
  background: linear-gradient(to bottom, transparent 39px, $color-main 39px, $color-main 41px, transparent 41px);

  h2 {
    display: inline;
    padding: 0 20px;
    background: $color-dark;
  }
}
