html {
  font-size: 10px;
  @include media-mob {
    font-size: 9px;
  }
}

body {
  font-family: 'Inter', Verdana, sans-serif;
  @include font(1.8rem, 3.6rem, normal, $color: $color-light);
  background-color: $color-dark;
}

.light-theme {
  color: $color-lt-dark;
  background-color: $color-light;
}

h1,
h2,
h3 {
  @extend %font-add;
}

h1 {
  @include font(6rem);
  @include media-tab {
    @include font(3.2rem);
  }
}

h2 {
  @include font(4rem);
  @include media-tab {
    font-size: 3.2rem;
  }
}

h3 {
  @include font(2.8rem);
  text-align: center;
}

h4 {
  @include font(2rem);
  text-align: center;
}

// ---------------------------------

.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 100px 20px 0;
  @include media-tab {
    padding-top: 80px;
  }
  @include media-mob {
    padding-top: 60px;
  }
  @include media-mm {
    padding: 60px 15px 0;
  }
}

a,
button {
  @extend %trans;
}
