@font-face {
  font-family: 'icons';
  src: url('../assets/fonts/icons.woff?afr8ys') format('woff'),
       url('../assets/fonts/icons.ttf?afr8ys') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='_icon-'],
[class*=' _icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-logo:before {
  content: '\e900';
  color: #fff;
}
._icon-sun:before {
  content: '\e901';
  color: #fff;
}
._icon-moon:before {
  content: '\e902';
}
._icon-camera .path1:before {
  content: '\e903';
  color: rgb(204, 186, 141);
}
._icon-camera .path2:before {
  content: '\e904';
  margin-left: -1em;
  color: rgb(204, 186, 141);
}
._icon-camera .path3:before {
  content: '\e905';
  margin-left: -1em;
  color: rgb(204, 186, 141);
}
._icon-camera .path4:before {
  content: '\e906';
  margin-left: -1em;
  color: rgb(189, 174, 130);
}
._icon-camera .path5:before {
  content: '\e907';
  margin-left: -1em;
  color: rgb(204, 186, 141);
}
._icon-video:before {
  content: '\e908';
  color: #bdae82;
}
._icon-image .path1:before {
  content: '\e909';
  color: rgb(189, 174, 130);
}
._icon-image .path2:before {
  content: '\e90a';
  margin-left: -1em;
  color: rgb(204, 186, 141);
}
._icon-mic .path1:before {
  content: '\e90b';
  color: rgb(204, 186, 141);
}
._icon-mic .path2:before {
  content: '\e90c';
  margin-left: -1em;
  color: rgb(189, 174, 130);
}
._icon-play-btn:before {
  content: '\e90d';
  color: #fff;
}
._icon-play:before {
  content: '\e90e';
  color: #b3b3b3;
}
._icon-pause:before {
  content: '\e90f';
  color: #b3b3b3;
}
._icon-volume:before {
  content: '\e910';
  color: #b3b3b3;
}
._icon-mute:before {
  content: '\e911';
  color: #b3b3b3;
}
._icon-fb:before {
  content: '\e912';
  color: #fff;
}
._icon-inst:before {
  content: '\e913';
  color: #fff;
}
._icon-pinterest:before {
  content: '\e914';
  color: #fff;
}
._icon-tw:before {
  content: '\e915';
  color: #fff;
}
