.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: 0.5s;
  padding: 23px 0;

  &.scrolled {
    padding: 3px 0;
    background: $color-dark;
    box-shadow: 0px 1px 15px #3a3528;

    @media (max-height: 400px) {
      top: -50px;
    }
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0 20px;
  @include media-tab {
    padding: 0 60px;
  }
  @include media-mob {
    padding: 0 15px;
  }
  @include media-sm {
    gap: 20px;
  }
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  @include media-lap {
    order: 1;
  }
}

.header__burger {
  position: relative;
  display: none;
  z-index: 200;
  @include media-lap {
    display: block;
  }
}

// --------------------------

.light-theme .header.scrolled {
  background: $color-light;
  box-shadow: 0px 1px 15px #d1d1d1;
}
