.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  @include media-tab {
    padding: 20px 146px 20px 60px;
  }
  @include media-mob {
    padding: 15px 90px 15px 15px;
  }
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 18px;
}
