.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  @include media-tab {
    padding: 20px 64px 20px 60px;
  }
  @include media-mob {
    padding: 10px 15px;
  }
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 18px;

  @include media-tab {
    display: none;
  }
}

.header__burger {
  margin-left: 32px;
}
