.hero__wrapper {
  min-height: 820px;
  padding: 160px 80px 80px;
}

.hero__content {
  max-width: 500px;
}

.hero__text {
  max-width: 470px;
  margin-bottom: 25px;
  @include font(2rem, 4rem, normal);
}
