.hero {
  width: 100%;
  min-height: 910px;
  background-repeat: no-repeat;
  background-position: center top;

  @media (max-width: 1920px) and (max-height: 1080px) {
    height: 100vh;
  }
  @include media(1920px) {
    background-size: cover;
    background-position: center center;
  }
  @include media(1600px) {
    height: auto;
  }
  @include media-lap {
    min-height: 750px;
    background-position: 30% top;
  }
  @include media-tab {
    min-height: 590px;
    background-position: center top;
  }
  @include media-mm {
    background-position: 65% top;
  }
}

.hero__wrapper {
  padding: 250px 80px 80px;
  @include media-lap {
    padding: 168px 60px 60px;
  }
  @include media-mm {
    padding: 150px 15px 60px;
  }
}

.hero__content {
  max-width: 500px;
}

.hero__title {
  margin-bottom: 10px;
  @include media-tab {
    margin-bottom: 20px;
  }
}

.hero__text {
  max-width: 470px;
  margin-bottom: 25px;
  @include font(2rem, 4rem, normal);

  @include media-lap {
    max-width: 390px;
  }
  @include media-tab {
    margin-bottom: 60px;
    line-height: 2.4rem;
  }
  @include media-mob {
    max-width: 70%;
  }
  @include media-sm {
    max-width: 250px;
  }
}
