.hero__wrapper {
  min-height: 820px;
  padding: 160px 80px 80px;
  @include media-tab {
    min-height: 500px;
    padding: 78px 60px 60px;
  }
  @include media-mob {
    min-height: 520px;
    padding: 78px 15px 60px;
  }
}

.hero__title {
  margin-bottom: 10px;
  @include media-tab {
    margin-bottom: 20px;
  }
}

.hero__content {
  max-width: 500px;
}

.hero__text {
  max-width: 470px;
  margin-bottom: 25px;
  @include font(2rem, 4rem, normal);

  @include media-lap {
    max-width: 390px;
  }

  @include media-tab {
    margin-bottom: 60px;
    line-height: 2.4rem;
  }
  @include media-mob {
    max-width: 70%;
  }
  @include media-sm {
    max-width: 230px;
  }
}
