.skills__wrapper {
  @include media-tab {
    padding-bottom: 40px;
  }
}

.skills__section-title {
  @include media-tab {
    margin-bottom: 45px;
  }
}

.skills-cards {
  @include flex(320px);

  @include media-tab {
    justify-content: center;
    gap: 36px 44px;
    > * {
      @include fbasis(300px, 728px);
    }
  }
}

.skill-card {
  @include flex-col(center);
  padding: 100px 20px 10px;

  &:nth-child(1) {
    background: url('../assets/svg/skills/camera.svg') no-repeat center top;
  }
  &:nth-child(2) {
    background: url('../assets/svg/skills/video.svg') no-repeat center top;
  }
  &:nth-child(3) {
    background: url('../assets/svg/skills/image.svg') no-repeat center top;
  }
  &:nth-child(4) {
    background: url('../assets/svg/skills/mic.svg') no-repeat center top;
  }

  @include media-tab {
    padding: 80px 10px 40px 10px;
  }
}

.skill-card__title {
  margin-bottom: 20px;
}

.skill-card__text {
  text-align: center;
  @include media-tab {
    line-height: 2.2rem;
  }
}
