.skills-cards {
  @include flex(320px);
}

.skill-card {
  @include flex-col(center);
  padding: 100px 20px 10px;

  &:nth-child(1) {
    background: url('../../assets/svg/skills/camera.svg') no-repeat center top;
  }
  &:nth-child(2) {
    background: url('../../assets/svg/skills/video.svg') no-repeat center top;
  }
  &:nth-child(3) {
    background: url('../../assets/svg/skills/image.svg') no-repeat center top;
  }
  &:nth-child(4) {
    background: url('../../assets/svg/skills/mic.svg') no-repeat center top;
  }
}

.skill-card__title {
  margin-bottom: 20px;
}

.skill-card__text {
  text-align: center;
}
