.skills__wrapper {
  @include media-tab {
    padding-bottom: 40px;
  }
  @include media-mob {
    padding-bottom: 0;
  }
}

.skills__section-title {
  @include media-tab {
    margin-bottom: 45px;
  }
  @include media-mob {
    margin-bottom: 50px;
  }
  @include media-mm {
    margin-bottom: 25px;
  }
}

.skills-cards {
  @include flex(320px);

  @include media-lap {
    @include cols(2, 44px);
    justify-content: center;
    row-gap: 36px;
    .skill-card {
      max-width: 350px;
    }
  }
  @include media-tab {
    .skill-card {
      max-width: 300px;
    }
  }
  @include media-mob {
    @include flex-col(center);
    .skill-card {
      max-width: 100%;
    }
  }
}

// skill-card -----------------------

.skill-card {
  width: 320px;
  max-width: 100%;
  // outline: 1px solid blue;
  @include flex-col(center);
  padding: 100px 20px 10px;

  &:nth-child(1) {
    background: url('../assets/svg/skills/camera.svg') no-repeat center top;
  }
  &:nth-child(2) {
    background: url('../assets/svg/skills/video.svg') no-repeat center top;
  }
  &:nth-child(3) {
    background: url('../assets/svg/skills/image.svg') no-repeat center top;
  }
  &:nth-child(4) {
    background: url('../assets/svg/skills/mic.svg') no-repeat center top;
  }

  @include media-tab {
    padding: 80px 10px 40px 10px;
  }
}

.skill-card__title {
  margin-bottom: 20px;
}

.skill-card__text {
  text-align: center;
  @include media-tab {
    line-height: 2.2rem;
  }
}
