.portfolio__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 0 auto 60px;

  @include media-lap {
    max-width: 445px;
  }
  @include media-mob {
    margin-bottom: 40px;
  }
}

.portfolio__pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  @include media-lap {
    justify-content: center;
    column-gap: 25px;
  }
}

.portfolio__pic {
  flex-basis: calc(450 / 1400 * 100%);
  @include media-lap {
    flex-basis: calc(50% - 12.5px);
  }
  @include media-tab {
    flex-basis: 100%;
  }

  > * {
    width: 100%;
    margin: 0 auto;
    @include media-tab {
      width: auto;
    }
  }
}
