.portfolio__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 0 auto 60px;

  @include media-tab {
    max-width: 445px;
  }
}

.portfolio-cards {
  @include flex(450px);
  justify-content: center;
  gap: 25px;
}

.portfolio__img {
  width: calc(450 / 1400 * 100%);
  @include media-tab {
    width: 100%;
  }
}
