.video__wrapper {
  @include media(1440px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.video__section-title {
  @include media-mm {
    max-width: calc(100% - 30px);
  }
}

.videoplayer {
  position: relative;
  width: 100%;
  padding-top: calc(705 / 1400 * 100%);
  background: pink;
  overflow: hidden;

  @include media-tab {
    padding-top: calc(418 / 768 * 100%);
  }
}

.videoplayer__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include media-mob {
    top: -20%;
    width: 120%;
    height: 120%;
  }
  @include media-sm {
    top: -37%;
    width: 140%;
    height: 140%;
  }
}

.videoplayer__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 130px;
  background: transparent;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);

  @include media-tab {
    width: 65px;
    height: 65px;
  }
}
