.video__wrapper {
  @include media-lap {
    padding-left: 0;
    padding-right: 0;
  }
}

.video__section-title {
  @include media-lap {
    max-width: calc(100% - 30px);
  }
}

.video__videoplayer {
  position: relative;
  width: 100%;
  padding-top: calc(705 / 1400 * 100%);
  background: pink;
  overflow: hidden;
  border: 1px solid $color-main;

  @include media-tab {
    padding-top: calc(418 / 768 * 100%);
  }
}

.videoplayer,
.videoplayer__poster {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include media-mob {
    top: -20%;
    width: 120%;
    height: 120%;
  }
}

.videoplayer__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);

  & .icon {
    width: 130px;
    height: 130px;

    @include media-tab {
      width: 65px;
      height: 65px;
    }
  }
}

.videoplayer__controls {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: $color-dark;
}

.controls__btn {
  width: 40px;
  height: 36px;
  overflow: hidden;
}
