.video__wrapper {
  @include media-lap {
    padding-left: 0;
    padding-right: 0;
  }
}

.video__section-title {
  @include media-lap {
    max-width: calc(100% - 30px);
  }
}

.videoplayer {
  position: relative;
  width: 100%;
  padding-top: calc(590 / 1280 * 100%);
  overflow: hidden;
  border: none;

  &.active {
    border: 1px solid $color-main;

    .light-theme & {
      border-color: $color-dark;
    }

    @include media-lap {
      border-left: none;
      border-right: none;
    }
  }
}

.videoplayer__poster {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;

  .active & {
    display: none;
  }
}

.videoplayer__viewer {
  position: absolute;
  top: 0;
  left: -3px;
  display: block;
  width: calc(100% + 6px);
  height: auto;
}

.videoplayer__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 130px;
  height: 130px;
  transform: translate(-50%, -50%);
  transition: none;
  outline-offset: 5px;
  -webkit-tap-highlight-color: transparent;

  @include media-tab {
    width: 65px;
    height: 65px;
  }

  .active & {
    margin-top: -30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;

    @include media-mob {
      margin-top: -25px;
    }

    &.paused {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background: $color-dark;

  @include media-tab {
    position: relative;
    padding: 5px 20px 0;
  }

  @include media-mob {
    height: 50px;
    gap: 20px;
  }
}

.controls__btn {
  width: 40px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  @include media-tab {
    width: 32px;
    height: 32px;
  }

  @include hov {
    filter: invert(0%) sepia(24%) saturate(424%) hue-rotate(7deg) brightness(90%) contrast(86%);
  }
}

.play-btn {
  margin-left: -5px;
  background-image: url('../assets/svg/sprite-video.svg#pause');

  &.paused {
    background-image: url('../assets/svg/sprite-video.svg#play');
  }
}

.volume-btn {
  background-image: url('../assets/svg/sprite-video.svg#volume');

  &.muted {
    background-image: url('../assets/svg/sprite-video.svg#mute');
  }
}

.controls__range {
  height: 8px;
  outline-offset: 8px;
  -webkit-appearance: none;
  transition: background 0.5s ease-in;

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $color-light;
    -webkit-appearance: none;
    cursor: ew-resize;

    @include media-tab {
      width: 12px;
      height: 12px;
    }
  }

  &.progress {
    flex-grow: 1;
    background: linear-gradient(to right, $color-main 0%, $color-main 0%, $color-gray 0%, $color-gray 100%);

    @include media-tab {
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 6px;
    }
  }

  &.volume {
    width: 20%;
    background: linear-gradient(to right, $color-main 0%, $color-main 40%, $color-gray 40%, $color-gray 100%);

    @include media-tab {
      height: 5px;
      flex-grow: 1;
    }
  }
}
