.videoplayer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoplayer__btn {
  position: absolute;
  width: 130px;
  height: 130px;
  background: url('../../assets/svg/play-video.svg') no-repeat;
  border: none;
  cursor: pointer;
  @extend %trans;

  @include hov {
    @extend %filter;
  }
}
