.price__wrapper {
  padding-bottom: 100px;

  @include media-tab {
    padding-bottom: 80px;
  }
}

.price-cards {
  @include cols(3, 25px);

  @include media-lap {
    @include cols(2, 50px);
    justify-content: center;
  }

  @include media-tab {
    @include flex-col(center);
    .price-card {
      width: 420px;
    }
  }

  @include media-mob {
    gap: 30px;
  }
}

// price-card

.price-card {
  width: 450px;
  max-width: 100%;
  @include flex-col(center);
  padding: 40px 15px;
  border: 3px solid $color-main;
}

.price-card__title {
  margin-bottom: 20px;
}

.price-card__price {
  margin-bottom: 20px;
  @extend %font-add;
  @include font(2.4rem, 4.8rem, bold, $color-main);
}

.price-card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  text-align: center;
}

.price-card__btn {
  margin-top: auto;
}
