.contacts {
  width: 100%;
  min-height: 700px;
  background-repeat: no-repeat;
  background-position: center bottom;

  @include media(1920px) {
    min-height: 800px;
    background-size: cover;
  }
  @include media-lap {
    min-height: 700px;
  }
  @include media-tab {
    min-height: 600px;
    background-position: center center;
  }
  @include media-mob {
    background-position: 20% center;
  }
}

.contacts__wrapper {
  @include flex-col;
  align-items: flex-end;
  padding-top: 80px;

  @include media-tab {
    align-items: center;
  }
}

.contacts__title,
.contacts__form {
  width: 450px;
  max-width: 100%;
}

.contacts__title {
  margin-bottom: 40px;
  text-align: left;
  @include media-tab {
    line-height: 6.4rem;
    text-align: center;
  }
}

.contacts__form {
  @include media-tab {
    align-items: center;
  }
}
