.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  @include font(2rem, 5rem, normal);

  @include media-tab {
    @include flex-col(center);
    padding: 28px 20px;
    line-height: 2.4rem;
  }
}

.footer__data {
  span {
    margin-right: 15px;
    @include media-tab {
      margin-right: 18px;
    }
  }

  @include media-tab {
    margin-bottom: 16px;
  }
}

.footer__link {
  @include media-tab {
    margin-bottom: 20px;
  }
}
